@{
    ViewData["Title"] = "Signin";
   
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="~/css/Style1.css" />



<div class="form-container">

    <form action="" method="post">
        <h3>login now</h3>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label style="color:red;justify-content:center">@ViewBag.Notification</label>
            </div>
        </div>
        <input type="email" name="uemail" required placeholder="enter your email">
        <input type="password" name="upass" required placeholder="enter your password">
        <input type="submit" name="submit" action="@Url.Action("Login", "Home")" value="login now" class="form-btn">
        <p>don't have an account? <a asp-action="Register" asp-controller="Home">register now</a></p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </form>

</div>

   
                

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="https://apis.google.com/js/platform.js?onload=onGoogleLoad" async defer ></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }


        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
          ...
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
        

        if (auth2.isSignedIn.get()) {
            var profile = auth2.currentUser.get().getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);



    </script>
    

