@using Microsoft.AspNetCore.Http
@{
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body class="m-0 p-0" style="background-color:#212529; overflow-y: auto;">
    <header>
        <div class="container-fluid m-0 p-0">
            <div>

                <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color:rgb(41, 47, 51); padding: 20px; font-size: 18px;">
                     <div class="container-fluid">
                           <a class="navbar-brand text-blue">
                                <img src="~/image/logoImage.png" alt="Logo" style="width:45px"/>NEWS Hub
                           </a>


                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="general">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="business">Business</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="sports">Sports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="science">Science</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="health">Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="entertainment">Entertainment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="technology">Technology</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Favorite">Favorite</a>
                                </li> 
                            </ul>
                            <form class="d-flex" method="get" id="searchForm">
                                <input class="form-control me-2" type="text" id="newsQuery" name="query" placeholder="Enter your search query">
                                <button class="btn btn-primary" type="button" onclick="searchNews()" style="margin-right:10px">Search</button>
                                @if (!string.IsNullOrEmpty(Context.Session.GetString("uname")))
                                {
                                    <a class="nav-link" style="color:aliceblue; font-size:large; font-style:oblique"><b>@(Context.Session.GetString("uname"))</b></a>
                                    <a class="nav-link" asp-action="Logout" asp-controller="Home">Logout</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary" style="margin-right:10px" asp-action="Register" asp-controller="Home">Register</a>
                                    <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Home">Login</a>
                                }
                            </form>
                        </div>
               
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="background-color:rgb(41, 47, 51);">
        
            &copy; @DateTime.Now.Year - NEWS Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
  
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function searchNews() {
            var query = document.getElementById("newsQuery").value.trim();
            if (query !== "") {
                var encodedQuery = encodeURIComponent(query);
                var url = `/News/SearchNews?query=${encodedQuery}`;
                window.location.href = url;
            } else {
                alert("Please enter a search query.");
            }
        }

        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
